<div class="b-modal call">
	<div class="b-modal__pop-up v-2">
		<a href="#" class="b-modal__close w-inline-block"></a>
		<div class="h-wrap h-wrap_mg-bt_30">
			<div class="b-text b-text_dark b-text_open_sans b-text_size_30">
				Оставить заявку
			</div>
		</div>
		<div class="h-wrap">
			<div class="b-form w-form">
				<form id="email-form-4" name="email-form-4" data-name="Email Form 4" method="get" data-wf-page-id="665610e4d965136f272637f9" data-wf-element-id="5fd3d76b-0ee1-b6ec-a3c1-3a762cb9bb82">
					<div class="h-wrap h-wrap_mg-bt_20">
						<input class="b-input w-input" maxlength="256" name="field-11" data-name="Field 11" placeholder="Введите ваше имя" type="text" id="field-11">
					</div>
					<div class="h-wrap h-wrap_mg-bt_20">
						<input class="b-input w-input" maxlength="256" name="field-11" data-name="Field 11" placeholder="Введите ваш телефон" type="tel" id="field-11" required="">
					</div>
					<input type="submit" data-wait="Please wait..." class="b-button b-button_w_100 w-button" value="Отправить">
				</form>
				<div class="w-form-done">
					<div>
						Thank you! Your submission has been received!
					</div>
				</div>
				<div class="w-form-fail">
					<div>
						Oops! Something went wrong while submitting the form.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
