<div style="display:none;opacity:0" class="b-modal call">
	<div class="b-modal__pop-up v-2">
		<a data-w-id="45e7c6cf-e6b7-e39e-878b-97a946e13dfa" href="#" class="b-modal__close w-inline-block"></a>
		<div class="h-wrap h-wrap_mg-bt_30">
			<div class="b-text b-text_dark b-text_open_sans b-text_size_30">
				Оставить заявку
			</div>
		</div>
		<div class="h-wrap">
			<div class="b-form w-form">
				<form id="email-form-4" name="email-form-4" data-name="Email Form 4" method="get" data-wf-page-id="665610e4d965136f272637f9" data-wf-element-id="52e7554a-23c1-0a81-6663-15e6548e33be">
					<div class="h-wrap h-wrap_mg-bt_20">
						<input class="b-input w-input" maxlength="256" name="field" data-name="Имя" placeholder="Введите ваше имя" type="text" id="field-9">
					</div>
					<div class="h-wrap h-wrap_mg-bt_20">
						<input class="b-input w-input" maxlength="256" name="field" data-name="Телефон" placeholder="Введите ваш телефон" type="tel" id="field-10" required="">
					</div>
					<input type="submit" data-wait="Please wait..." class="b-button b-button_w_100 w-button" value="Отправить">
				</form>
				<div class="w-form-done">
					<div>
						Thank you! Your submission has been received!
					</div>
				</div>
				<div class="w-form-fail">
					<div>
						Oops! Something went wrong while submitting the form.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
