{% set results = __SELF__.results %}

{% if (__SELF__.query | length) < __SELF__.minQueryLength %}

    {% partial __SELF__ ~ '::query-too-short.htm' %}

{% else %}
<div class="container">
    <div class="b-catalog-grid">
        {% for result in results %}
            {# Display all results #}
            {% partial 'catalog-elements/catalog-product' product=result.model %}
        {% else %}
            {# No results found #}
            {% partial __SELF__ ~ '::no-results.htm' %}
        {% endfor %}

    </div>
</div>
    {% partial __SELF__ ~ '::pagination.htm' results=results %}

{% endif %}
