<div class="b-product g-mg-bot_60">
	{% set image = product.image ?? product.images.first %}
	<div class="image_box">
		<img src="{{ image.getThumb(270, 250, {mode: 'crop', extension: 'webp', quality: 75}) }}" loading="lazy" alt="" class="b-image b-image_product">
	</div>
	<div class="content-wrap">
		<div class="info_box">
			<div class="h-wrap g-mg-bot_30">
				<div class="b-text g-size_30 g-black">
					{{ product.name }}
				</div>
			</div>
			<div class="h-wrap h-wrap_mg-bt_20">
				<div class="b-grid b-grid_col_2">
					{% for property in product.property_values %}
					<div class="h-wrap h-wrap_align_h_left">
						<div class="b-text g-black">
							{{ property.property.name }}
						</div>
						<div class="b-sep">
							<div class="b-text g-black">
								{{ property.property.name }}
							</div>
						</div>
						<div class="h-wrap">
							<div class="b-text g-black">
								{{ property.name }}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="b-grid b-grid_col_2 g-hide">
				<div class="h-wrap h-wrap_align_h_left">
					<div class="h-wrap h-wrap_mg-bt_20 h-wrap_align_h_left">
						<img src="{{ 'assets/images/gost.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_gost">
						<div class="b-text b-text_grey">
							ГОСТ
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_20">
						<div wp_post_term="pa_gost" class="b-text b-text_dark">
							52544-2006
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="order_box">
			<div id="w-node-_1500e455-bc02-73a8-ea1e-dd9585044e28-27263834" class="g-flex_h g-mg-bot_20">
				{% if product.price is not empty and product.price > 0 %}
				<div id="w-node-_1500e455-bc02-73a8-ea1e-dd9585044e2a-27263834" class="b-text g-size_20 g-bronze g-bold">
					от
				</div>
				{% set unit = product.measure_unit | default(product.category.measure_unit) %}
				<div id="w-node-_1500e455-bc02-73a8-ea1e-dd9585044e2d-27263834" class="b-text g-size_22 g-bronze g-bold">
					{{ product.price|price }}
				</div>
				<div id="w-node-_1500e455-bc02-73a8-ea1e-dd9585044e2f-27263834" class="b-text g-size_20 g-bronze g-bold">
					₽
				</div>
				{% if unit is not empty %}
				<div id="w-node-_1500e455-bc02-73a8-ea1e-dd9585044e32-27263834" class="b-text g-size_30 g-bronze g-bold">
					/
				</div>
				<div class="b-text g-size_20 g-bronze g-bold">
					{{ unit.name }}
				</div>
				{% endif %}{% else %}
				<div class="b-text g-size_20 g-bronze g-bold">
					Цена по запросу
				</div>
				{% endif %}
			</div>
			<div id="product-cart">
				{% partial "ajax/product-cart" %}
			</div>
		</div>
	</div>
</div>
