<section class="s-section s-section_hero">
	<img src="{{ 'assets/images/Rectangle20320(1).jpg'|theme }}" loading="lazy" alt="" class="b-image b-image_hero_bg">
	<div class="container">
		<div class="h-wrap g-mg-bot_30">
			<div class="b-columns">
				<div class="b-columns__col b-columns__col_70 b-columns__col_mob_mg-bt_60_2">
					<div class="h-wrap g-mg-bot_30">
						<div class="b-title">
							{{ block.title|raw }}
						</div>
					</div>
					<div class="h-wrap">
						{% for item in block.add_advantages %}
						<div class="h-wrap h-wrap_align_h_left g-mg-bot_15">
							<div class="h-wrap h-wrap_w_auto">
								<img src="{{ item.icon_advantages|media }}" loading="lazy" alt="" class="b-image b-image_house_icon">
							</div>
							<div class="h-wrap">
								<div class="b-text g-size_20">
									{{ item.text_advantages }}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="h-wrap h-wrap_align_h_center">
			<div class="b-form b-form_hero w-form">
				<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form b-form__form_hero" data-wf-page-id="665610e4d965136f272637f9" data-wf-element-id="75ed5c24-6205-9857-20f0-1529428866af">
					<div class="h-wrap">
						<div class="b-grid b-grid_3-col g-mg-bot_40">
							{% for item in block.add_advantages_form %}
							<div class="b-grid__col">
								<div class="h-wrap h-wrap_align_h_left">
									<img src="{{ item.icon|media }}" loading="lazy" alt="" class="b-image b-image_form_icon">
									<div class="h-wrap">
										<div class="h-wrap">
											<div class="b-text g-size_22 g-bronze g-opensans">
												<strong>
													{{ item.title_advantages }}
												</strong>
											</div>
										</div>
										<div class="h-wrap">
											<div class="b-text">
												{{ item.text_advantages }}
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="b-grid b-grid_3-col">
							<div class="b-grid__col">
								<input class="b-input w-input" maxlength="256" name="field-8" data-name="Field 8" placeholder="Имя" type="text" id="field-8" required="">
							</div>
							<div class="b-grid__col">
								<div class="h-wrap">
									<input class="b-input w-input" maxlength="256" name="field-8" data-name="Field 8" placeholder="+7 (___) ___ - __ - __" type="tel" id="field-8" required="">
								</div>
							</div>
							<div class="b-grid__col">
								<div class="h-wrap">
									<input type="submit" data-wait="Please wait..." class="b-button w-button" value="ОТПРАВИТЬ">
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="b-form__success-mes w-form-done">
					<div>
						Спасибо за заявку!
						<br>
						В ближайшее время мы свяжемся с вами
					</div>
				</div>
				<div class="b-form__error-mes w-form-fail">
					<div>
						Ошибка! Что-то пошло не так.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
