<section class="s-section s-section_dark_3">
	<div>
		<div class="container container_pd">
			<img src="{{ 'assets/images/slider_decor.svg'|theme }}" loading="lazy" alt="" class="b-slider-decor">
			<div class="h-wrap h-wrap_pos_z_10 h-wrap_mg-bt_50">
				<div class="b-columns b-columns_clip_content">
					<a href="#" class="b-slider-but-left w-button"></a>
					<a href="#" class="b-slider-but-right w-button"></a>
					<div class="b-columns__col b-columns__col_30 b-columns__col_dark_bg">
						<div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_70">
							<div class="b-title">
								{{ options.section_departments_title|raw }}
							</div>
						</div>
						<div class="h-wrap h-wrap_mob_70">
							<div class="b-text g-gray g-size_18">
								{{ options.section_departments_subtitle|raw }}
							</div>
						</div>
						<div class="h-wrap mob_hide h-wrap_mg_up_auto">
							<a href="#" class="b-button v-5 hide w-button">
								ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
							</a>
						</div>
					</div>
					<div class="b-columns__col b-columns__col_70">
						<div class="h-wrap">
							<div data-delay="4000" data-animation="slide" class="b-slider b-slider_ofice w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
								<div class="b-slider__mask b-slider__mask_ofice w-slider-mask">
									{% for item in options.section_departments_slider %}
									<div class="b-slider__slide b-slider__slide_ofice w-slide">
										<div class="b-ofice-slide">
											<div class="h-wrap g-mg-bot_20">
												<img src="{{ item.image|media }}" loading="lazy" alt="" class="b-image b-image_ofice">
											</div>
											<div class="h-wrap g-mg-bot_10">
												<div class="b-text g-size_18 g-opensans">
													{{ item.title }}
												</div>
											</div>
											<div class="h-wrap g-mg-bot_20">
												<div class="b-text g-size_14">
													{{ item.text|raw }}
												</div>
											</div>
											<div class="h-wrap">
												<a href="#" class="b-button v-3 w-button">
													Связаться
												</a>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="b-slider__arrow-left b-slider__arrow-left_ofice w-slider-arrow-left">
									<img src="{{ 'assets/images/arrow.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone b-slider__icone_ofice">
								</div>
								<div class="b-slider__arrow-right b-slider__arrow-right_ofice w-slider-arrow-right">
									<img src="{{ 'assets/images/arrow20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone b-slider__icone_ofice">
								</div>
								<div class="b-slider__nav w-slider-nav w-round"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
