<section class="s-section s-section_dark">
	<div class="container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title-2">
				{{ block.title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_130">
			<div class="b-text b-text_grey b-text_size_18">
				{{ block.subtitle }}
			</div>
		</div>
		<div class="h-wrap">
			<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs b-tabs_pd-bt_60 w-tabs">
				<div class="b-tabs__menu w-tab-menu">
					<a data-w-tab="Tab 1" class="b-tabs__link w-inline-block w-tab-link w--current">
						<div class="b-tab-text">
							{{ block.title_production }}
						</div>
					</a>
					<a data-w-tab="Tab 2" class="b-tabs__link w-inline-block w-tab-link">
						<div class="b-tab-text">
							МЕТАЛЛОПРОКАТ
						</div>
					</a>
				</div>
				<div class="b-tabs__content w-tab-content">
					<div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane w--tab-active">
						<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs b-tabs_inside w-tabs">
							<div class="b-tabs__menu b-tabs__menu_inside w-tab-menu">
								{% for item in block.add_category_prod %}
								<a data-w-tab="Tab 1" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link w--current">
									<div class="text-block">
										{{ item.name_category }}
									</div>
								</a>
								{% endfor %}
							</div>
							<div class="b-tabs__content b-tabs__content_inside_hero w-tab-content">
								{% for item in block.add_category_prod %}
								<div data-w-tab="Tab 1" class="b-tabs__pane b-tabs__pane_inside w-tab-pane w--tab-active">
									<img class="b-image b-image_tab_bg" src="{{ item.category_image|media }}" alt="" loading="lazy">
									<div class="b-tab-info">
										<div class="h-wrap h-wrap_mg-bt_45">
											<a href="{{ item.category_link }}" class="w-inline-block">
												<div class="b-text b-text_open_sans b-text_size_22">
													{{ item.name_category }}
												</div>
											</a>
										</div>
										<div>
											{% for item in item.add_sub_category %}
											<div class="h-wrap h-wrap_mg-bt_20">
												<a href="{{ item.sub_category_link }}" class="b-text b-text_size_14">
													{{ item.name_sub_category }}
												</a>
											</div>
											{% endfor %}
										</div>
									</div>
									<div class="b-tab-manager">
										<div class="h-wrap">
											<div class="h-wrap h-wrap_mg-bt_30 _1200_mg_bt_15">
												<div class="b-text b-text_open_sans b-text_size_22">
													МЕНЕДЖЕР ВАЛЕРИЙ
												</div>
											</div>
											<div class="h-wrap h-wrap_align_h_left">
												<a href="#" class="b-button v-14 w-button">
													ПОМОЧЬ С ВЫБОРОМ
												</a>
											</div>
										</div>
										<img loading="lazy" src="{{ 'assets/images/director20(1).jpg'|theme }}" alt="" class="b-image b-image_tab_manager">
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div data-w-tab="Tab 2" class="b-tabs__pane w-tab-pane"></div>
				</div>
			</div>
		</div>
	</div>
</section>
