<section class="s-section s-section_light-2">
	<div>
		<div class="container dawd">
			<img src="{{ 'assets/images/decor203.svg'|theme }}" loading="lazy" alt="" class="b-slider-decor b-slider-decor_blog">
		</div>
		<div class="container container_pd_l_55 container_clip_content">
			<div class="b-archive-button">
				<a href="/arhiv-statej/" class="b-button w-button">
					СМОТРЕТЬ АРХИВ
				</a>
			</div>
			<div class="h-wrap h-wrap_align_h_flex h-wrap_mg-bt_80">
				<div class="h-wrap h-wrap_mob_mg-bt_20">
					<div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_70">
						<div class="b-title-4">
							{{ options.section_blog_title|raw }}
						</div>
					</div>
					<div class="h-wrap h-wrap_mob_70">
						<div class="b-text b-text_grey b-text_size_18">
							{{ options.section_blog_subtitle|raw }}
						</div>
					</div>
				</div>
				<div class="h-wrap h-wrap_align_h_right h-wrap_pd_r_180"></div>
			</div>
			<div class="h-wrap">
				<div data-delay="4000" data-animation="slide" class="b-slider b-slider_blog w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
					<div class="b-grey-bg"></div>
					<div class="b-slider__mask b-slider__mask_blog w-slider-mask">
						<div class="b-slider__slide b-slider__slide_blog w-slide">
							<div class="b-blog-slide">
								<div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_mg-bt_20">
									<img src="{{ 'assets/images/blog_slide201.jpg'|theme }}" loading="lazy" alt="" class="b-image b-image_blog">
								</div>
								<div class="b-blog-slide-content">
									<div class="h-wrap h-wrap_mg-bt_15">
										<div class="b-text b-text_dark b-text_open_sans b-text_size_22">
											НАЗВАНИЕ СТАТЬИ
										</div>
									</div>
									<div class="h-wrap h-wrap_mg-bt_70">
										<div class="b-text b-text_dark">
											Выразительные кадры из цехов, складов, офисов, а также фактурные портреты сотрудников
										</div>
									</div>
									<div class="h-wrap">
										<a href="#" class="b-linkblock w-inline-block">
											<div class="b-text b-text_grey b-text_size_14">
												Подробнее  >
											</div>
										</a>
									</div>
								</div>
								<div class="b-blog-label">
									<div wp_post_term="post_tag" class="b-text b-text_size_14">
										технологии
									</div>
								</div>
							</div>
						</div>
						<div class="b-slider__slide b-slider__slide_blog w-slide">
							<div class="b-blog-slide">
								<div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_mg-bt_20">
									<img src="{{ 'assets/images/2gis-201.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_blog">
								</div>
								<div class="b-blog-slide-content">
									<div class="h-wrap h-wrap_mg-bt_15">
										<div class="b-text b-text_dark b-text_open_sans b-text_size_22">
											НАЗВАНИЕ СТАТЬИ
										</div>
									</div>
									<div class="h-wrap h-wrap_mg-bt_70">
										<div class="b-text b-text_dark">
											Выразительные кадры из цехов, складов, офисов, а также фактурные портреты сотрудников
										</div>
									</div>
									<div class="h-wrap">
										<a href="#" class="b-linkblock w-inline-block">
											<div class="b-text b-text_grey b-text_size_14">
												Подробнее  >
											</div>
										</a>
									</div>
								</div>
								<div class="b-blog-label">
									<div class="b-text b-text_size_14">
										сервис
									</div>
								</div>
							</div>
						</div>
						<div class="b-slider__slide b-slider__slide_blog w-slide">
							<div class="b-blog-slide">
								<div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_mg-bt_20">
									<img src="{{ 'assets/images/blog_slide205.jpg'|theme }}" loading="lazy" alt="" class="b-image b-image_blog">
								</div>
								<div class="b-blog-slide-content">
									<div class="h-wrap h-wrap_mg-bt_15">
										<div class="b-text b-text_dark b-text_open_sans b-text_size_22">
											НАЗВАНИЕ СТАТЬИ
										</div>
									</div>
									<div class="h-wrap h-wrap_mg-bt_70">
										<div class="b-text b-text_dark">
											Выразительные кадры из цехов, складов, офисов, а также фактурные портреты сотрудников
										</div>
									</div>
									<div class="h-wrap">
										<a href="#" class="b-linkblock w-inline-block">
											<div class="b-text b-text_grey b-text_size_14">
												Подробнее  >
											</div>
										</a>
									</div>
								</div>
								<div class="b-blog-label">
									<div class="b-text b-text_size_14">
										логистика
									</div>
								</div>
							</div>
						</div>
						<div class="b-slider__slide b-slider__slide_blog w-slide">
							<div class="b-blog-slide">
								<div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_mg-bt_20">
									<img src="{{ 'assets/images/blog_slide204.jpg'|theme }}" loading="lazy" alt="" class="b-image b-image_blog">
								</div>
								<div class="b-blog-slide-content">
									<div class="h-wrap h-wrap_mg-bt_15">
										<div class="b-text b-text_dark b-text_open_sans b-text_size_22">
											НАЗВАНИЕ СТАТЬИ
										</div>
									</div>
									<div class="h-wrap h-wrap_mg-bt_70">
										<div class="b-text b-text_dark">
											Выразительные кадры из цехов, складов, офисов, а также фактурные портреты сотрудников
										</div>
									</div>
									<div class="h-wrap">
										<a href="#" class="b-linkblock w-inline-block">
											<div class="b-text b-text_grey b-text_size_14">
												Подробнее  >
											</div>
										</a>
									</div>
								</div>
								<div class="b-blog-label">
									<div class="b-text b-text_size_14">
										оборудование
									</div>
								</div>
							</div>
						</div>
						<div class="b-slider__slide b-slider__slide_blog w-slide">
							<div class="b-blog-slide">
								<div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_mg-bt_20">
									<img src="{{ 'assets/images/blog_slide204.jpg'|theme }}" loading="lazy" alt="" class="b-image b-image_blog">
								</div>
								<div class="b-blog-slide-content">
									<div class="h-wrap h-wrap_mg-bt_15">
										<div class="b-text b-text_dark b-text_open_sans b-text_size_22">
											НАЗВАНИЕ СТАТЬИ
										</div>
									</div>
									<div class="h-wrap h-wrap_mg-bt_70">
										<div class="b-text b-text_dark">
											Выразительные кадры из цехов, складов, офисов, а также фактурные портреты сотрудников
										</div>
									</div>
									<div class="h-wrap">
										<a href="#" class="b-linkblock w-inline-block">
											<div class="b-text b-text_grey b-text_size_14">
												Подробнее  >
											</div>
										</a>
									</div>
								</div>
								<div class="b-blog-label">
									<div class="b-text b-text_size_14">
										оборудование
									</div>
								</div>
							</div>
						</div>
						<div class="b-slider__slide b-slider__slide_blog w-slide">
							<div class="b-blog-slide">
								<div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_mg-bt_20">
									<img src="{{ 'assets/images/blog_slide204.jpg'|theme }}" loading="lazy" alt="" class="b-image b-image_blog">
								</div>
								<div class="b-blog-slide-content">
									<div class="h-wrap h-wrap_mg-bt_15">
										<div class="b-text b-text_dark b-text_open_sans b-text_size_22">
											НАЗВАНИЕ СТАТЬИ
										</div>
									</div>
									<div class="h-wrap h-wrap_mg-bt_70">
										<div class="b-text b-text_dark">
											Выразительные кадры из цехов, складов, офисов, а также фактурные портреты сотрудников
										</div>
									</div>
									<div class="h-wrap">
										<a href="#" class="b-linkblock w-inline-block">
											<div class="b-text b-text_grey b-text_size_14">
												Подробнее  >
											</div>
										</a>
									</div>
								</div>
								<div class="b-blog-label">
									<div class="b-text b-text_size_14">
										оборудование
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="b-slider__arrow-left b-slider__arrow-left_blog w-slider-arrow-left">
						<img src="{{ 'assets/images/arrow_left.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
					</div>
					<div class="b-slider__arrow-right b-slider__arrow-right_blog w-slider-arrow-right">
						<img src="{{ 'assets/images/arrow_right.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
					</div>
					<div class="b-slider__nav w-slider-nav w-round"></div>
				</div>
			</div>
		</div>
	</div>
</section>
