<section class="s-section s-section_dark">
	<div class="container">
		<div class="h-wrap g-mg-bot_10">
			<div class="b-title">
				{{ block.title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_130">
			<div class="b-text g-size_18 g-gray">
				{{ block.subtitle }}
			</div>
		</div>
		<div class="h-wrap">
			<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs b-tabs_pd-bt_60 w-tabs">
				<div class="b-tabs__menu w-tab-menu">
					<a data-w-tab="Tab 1" class="b-tabs__link w-inline-block w-tab-link w--current">
						<div class="b-tab-text">
							{{ block.title_production }}
						</div>
					</a>
					<a data-w-tab="Tab 2" class="b-tabs__link w-inline-block w-tab-link">
						<div class="b-tab-text">
							МЕТАЛЛОПРОКАТ
						</div>
					</a>
					<a data-w-tab="Tab 3" class="b-tabs__link w-inline-block w-tab-link">
						<div class="b-tab-text">
							Благоустройство
						</div>
					</a>
				</div>
				<div class="b-tabs__content w-tab-content">
					<div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane w--tab-active">
						{% partial "site-elements/tab-prod" %}
					</div>
					<div data-w-tab="Tab 2" class="b-tabs__pane w-tab-pane"></div>
					<div data-w-tab="Tab 3" class="b-tabs__pane w-tab-pane"></div>
				</div>
			</div>
		</div>
	</div>
</section>
