<section class="s-section s-section_dark">
	<div class="container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title-2">
				{{ block.zagolovok }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_130">
			<div class="b-text b-text_grey b-text_size_18">
				{{ block.podzagolovok }}
			</div>
		</div>
		<div class="h-wrap">
			<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs b-tabs_pd-bt_60 w-tabs">
				<div class="b-tabs__menu w-tab-menu">
					<a data-w-tab="Tab 1" class="b-tabs__link w-inline-block w-tab-link w--current">
						<div class="b-tab-text">
							ПРОДУКЦИЯ
						</div>
					</a>
					<a data-w-tab="Tab 2" class="b-tabs__link w-inline-block w-tab-link">
						<div class="b-tab-text">
							МЕТАЛЛОПРОКАТ
						</div>
					</a>
				</div>
				<div class="b-tabs__content w-tab-content">
					<div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane w--tab-active">
						<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs b-tabs_inside w-tabs">
							{% for item in block.dobavit_kategoriyu %}
							<div class="b-tabs__menu b-tabs__menu_inside w-tab-menu">
								<a data-w-tab="Tab 1" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link w--current" href="{{ item.ssylka_na_kategoriyu }}">
									<div class="text-block">
										{{ item.naimenovanie_kategorii }}
									</div>
								</a>
								<a data-w-tab="Tab 2" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link">
									<div>
										ЦВЕТНЫЕ МЕТАЛЛЫ
									</div>
								</a>
								<a data-w-tab="Tab 3" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link">
									<div>
										НЕРЖАВЕЮЩАЯ СТАЛЬ
									</div>
								</a>
								<a data-w-tab="Tab 4" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link">
									<div>
										ИЗНОСОСТОЙКАЯ СТАЛЬ
									</div>
								</a>
								<a data-w-tab="Tab 5" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link">
									<div>
										КАЧЕСТВЕННЫЕ СТАЛИ
									</div>
								</a>
								<a data-w-tab="Tab 6" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link">
									<div>
										ЛИСТОВОЙ ПРОКАТ
									</div>
								</a>
								<a data-w-tab="Tab 7" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link">
									<div>
										ДУПЛЕКСНАЯ СТАЛЬ
									</div>
								</a>
								<a data-w-tab="Tab 8" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link">
									<div>
										МОСТОВАЯ СТАЛЬ
									</div>
								</a>
								<a data-w-tab="Tab 9" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link">
									<div>
										СОРТОВОЙ ПРОКАТ
									</div>
								</a>
								<a data-w-tab="Tab 10" class="b-tabs__link b-tabs__link_inside w-inline-block w-tab-link">
									<div>
										ЛИСТОВОЙ ПРОКАТ
									</div>
								</a>
							</div>
							{% endfor %}{% for item in block.dobavit_kategoriyu %}
							<div class="b-tabs__content b-tabs__content_inside_hero w-tab-content">
								<div data-w-tab="Tab 1" class="b-tabs__pane b-tabs__pane_inside w-tab-pane w--tab-active">
									<img alt="" src="{{ 'assets/images/metiz_bg20(1).jpg'|theme }}" loading="lazy" class="b-image b-image_tab_bg">
									<div class="b-tab-info">
										<div class="h-wrap h-wrap_mg-bt_45">
											<div class="b-text b-text_open_sans b-text_size_22">
												{{ item.naimenovanie_kategorii }}
											</div>
										</div>
										<div f_loop="Добавить состав продукции">
											<div class="h-wrap h-wrap_mg-bt_20">
												<a href="#" class="b-text b-text_size_14">
													ШУРУПЫ И САМОРЕЗЫ
												</a>
											</div>
											<div class="h-wrap h-wrap_mg-bt_20">
												<div class="b-text b-text_size_14">
													ШУРУПЫ И САМОРЕЗЫ
												</div>
											</div>
										</div>
									</div>
									<div class="b-tab-manager">
										<div class="h-wrap">
											<div class="h-wrap h-wrap_mg-bt_30 _1200_mg_bt_15">
												<div class="b-text b-text_open_sans b-text_size_22">
													МЕНЕДЖЕР ВАЛЕРИЙ
												</div>
											</div>
											<div class="h-wrap h-wrap_align_h_left">
												<a href="#" class="b-button v-14 w-button">
													ПОМОЧЬ С ВЫБОРОМ
												</a>
											</div>
										</div>
										<img loading="lazy" src="{{ 'assets/images/director20(1).jpg'|theme }}" alt="" class="b-image b-image_tab_manager">
									</div>
								</div>
								<div data-w-tab="Tab 2" class="b-tabs__pane b-tabs__pane_inside w-tab-pane"></div>
								<div data-w-tab="Tab 3" class="b-tabs__pane b-tabs__pane_inside w-tab-pane"></div>
								<div data-w-tab="Tab 4" class="b-tabs__pane b-tabs__pane_inside w-tab-pane"></div>
								<div data-w-tab="Tab 5" class="b-tabs__pane b-tabs__pane_inside w-tab-pane"></div>
								<div data-w-tab="Tab 6" class="b-tabs__pane b-tabs__pane_inside w-tab-pane"></div>
								<div data-w-tab="Tab 7" class="b-tabs__pane b-tabs__pane_inside w-tab-pane"></div>
								<div data-w-tab="Tab 8" class="b-tabs__pane b-tabs__pane_inside w-tab-pane"></div>
								<div data-w-tab="Tab 9" class="b-tabs__pane b-tabs__pane_inside w-tab-pane"></div>
								<div data-w-tab="Tab 10" class="b-tabs__pane b-tabs__pane_inside w-tab-pane"></div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div data-w-tab="Tab 2" class="b-tabs__pane w-tab-pane"></div>
				</div>
			</div>
		</div>
	</div>
</section>
