<section class="s-section s-section_bronze1">
	<div>
		<img src="{{ 'assets/images/vecteezy_gear-png-with-ai-generated_26771780-220120(1).png'|theme }}" loading="lazy" alt="" class="b-image b-image_metal_circle">
		<img src="{{ 'assets/images/bg-title.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_bg_title">
		<div class="container">
			<div class="h-wrap h-wrap_mg-bt_20">
				<div class="b-title-2">
					{{ options.section_quality_title }}
				</div>
			</div>
			<div class="h-wrap h-wrap_mg-bt_130">
				<div class="b-text b-text_size_18">
					{{ options.section_quality_subtitle }}
				</div>
			</div>
			<div class="h-wrap h-wrap_mg-bt_90-1">
				<div class="b-grid">
					{% for item in options.section_quality_add_advantages %}
					<div class="b-grid-box">
						<img src="{{ item.icon|media }}" loading="lazy" alt="" class="b-image b-image_grid_icon">
						<div class="h-wrap h-wrap_align_v_left">
							<div class="h-wrap h-wrap_mg-bt_15">
								<div class="b-text b-text_open_sans b-text_size_22">
									{{ itemt.title_advantages }}
								</div>
							</div>
							<div class="h-wrap">
								<div class="b-text b-text_size_15">
									{{ item.text_advantages }}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="h-wrap">
				<div class="b-block">
					<div class="b-columns">
						<div class="b-columns__col b-columns__col_33 b-columns__col_pd_r_70 b-columns__col_mob_mg-bt_15">
							<div class="h-wrap h-wrap_align_h_left h-wrap_mob_align_h_center">
								<img src="{{ options.icon_bonus|media }}" loading="lazy" alt="" class="b-image b-image_sec_form_icon">
								<div class="h-wrap">
									<div class="b-text b-text_open_sans b-text_size_18 b-text_dark">
										{{ options.text_bonus }}
									</div>
								</div>
							</div>
						</div>
						<div class="b-columns__col b-columns__col_33 b-columns__col_mob_mg-bt_15">
							<div class="h-wrap h-wrap_align_h_left h-wrap_mob_align_h_center">
								<img src="{{ options.icon_partners|media }}" loading="lazy" alt="" class="b-image b-image_sec_form_icon">
								<div class="h-wrap">
									<div class="b-text b-text_open_sans b-text_size_18 b-text_dark">
										{{ options.text_partners }}
									</div>
								</div>
							</div>
						</div>
						<div class="b-columns__col b-columns__col_33">
							<div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_center">
								<a href="#" class="b-button v-4 w-button">
									УЗНАТЬ УСЛОВИЯ
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
