<section class="s-section s-section_bronze1">
	<div>
		<img src="{{ 'assets/images/vecteezy_gear-png-with-ai-generated_26771780-220120(1).png'|theme }}" loading="lazy" alt="" class="b-image b-image_metal_circle">
		<img src="{{ 'assets/images/bg-title.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_bg_title">
		<div display="block" o_group="Блок преимущества" class="container">
			<div class="h-wrap h-wrap_mg-bt_20">
				<div class="b-title-2">
					ЗАБОТА И КАЧЕСТВО
				</div>
			</div>
			<div class="h-wrap h-wrap_mg-bt_130">
				<div class="b-text b-text_size_18">
					СЕРТИФИКАЦИЯ, ГАРАНТИИ, РАССРОЧКА
				</div>
			</div>
			<div class="h-wrap h-wrap_mg-bt_90-1">
				<div class="b-grid">
					<div class="b-grid-box">
						<img src="{{ 'assets/images/grid_icon_1.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_grid_icon">
						<div class="h-wrap h-wrap_align_v_left">
							<div class="h-wrap h-wrap_mg-bt_15">
								<div class="b-text b-text_open_sans b-text_size_22">
									ТУ СЕРТИФИКАТЫ
								</div>
							</div>
							<div class="h-wrap">
								<div class="b-text b-text_size_15">
									и другие стандарты. Вся наша продукция сертифицирована и соответствует ГОСТу
								</div>
							</div>
						</div>
					</div>
					<div class="b-grid-box">
						<img src="{{ 'assets/images/grid_icon_2.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_grid_icon">
						<div class="h-wrap h-wrap_align_v_left">
							<div class="h-wrap h-wrap_mg-bt_15">
								<div class="b-text b-text_open_sans b-text_size_22">
									СОБСТВЕННЫЙ ЦЕХ
									<br>
									И СКЛАД
								</div>
							</div>
							<div class="h-wrap">
								<div class="b-text b-text_size_15">
									каждая 5-тая доставка в подарок и любая когда нам по пути
								</div>
							</div>
						</div>
					</div>
					<div class="b-grid-box">
						<img src="{{ 'assets/images/grid_icon_3.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_grid_icon">
						<div class="h-wrap h-wrap_align_v_left">
							<div class="h-wrap h-wrap_mg-bt_20">
								<div class="b-text b-text_open_sans b-text_size_22">
									ГОСОБОРОНЗАКАЗ
								</div>
							</div>
							<div class="h-wrap">
								<div class="b-text b-text_size_15">
									ФЗ 275/223
								</div>
							</div>
						</div>
					</div>
					<div class="b-grid-box">
						<img src="{{ 'assets/images/grid_icon_1.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_grid_icon">
						<div class="h-wrap h-wrap_align_v_left">
							<div class="h-wrap h-wrap_mg-bt_20">
								<div class="b-text b-text_open_sans b-text_size_22">
									ПОСТАВКИ ИЗ КИТАЯ
								</div>
							</div>
							<div class="h-wrap">
								<div class="b-text b-text_size_15">
									Металл и не только. Круглосуточное производство и отгрузка готового в день заказа
								</div>
							</div>
						</div>
					</div>
					<div class="b-grid-box">
						<img src="{{ 'assets/images/grid_icon_5.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_grid_icon">
						<div class="h-wrap h-wrap_align_v_left">
							<div class="h-wrap h-wrap_mg-bt_20">
								<div class="b-text b-text_open_sans b-text_size_22">
									РАССРОЧКА
								</div>
							</div>
							<div class="h-wrap">
								<div class="b-text b-text_size_15">
									для постоянных клиентов на первую отгрузку скидка 10%
								</div>
							</div>
						</div>
					</div>
					<div class="b-grid-box">
						<img src="{{ 'assets/images/grid_icon_6.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_grid_icon">
						<div class="h-wrap h-wrap_align_v_left">
							<div class="h-wrap h-wrap_mg-bt_20">
								<div class="b-text b-text_open_sans b-text_size_22">
									СРОЧНАЯ И БЕСПЛАТНАЯ ДОСТАВКА
								</div>
							</div>
							<div class="h-wrap">
								<div class="b-text b-text_size_15">
									возможна оплата по факту поставки и отсрочка платежа
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="h-wrap">
				<div class="b-block">
					<div class="b-columns">
						<div class="b-columns__col b-columns__col_33 b-columns__col_pd_r_70 b-columns__col_mob_mg-bt_15">
							<div class="h-wrap h-wrap_align_h_left h-wrap_mob_align_h_center">
								<img src="{{ 'assets/images/grid_icon_7.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_sec_form_icon">
								<div class="h-wrap">
									<div class="b-text b-text_open_sans b-text_size_18 b-text_dark">
										БОНУСНАЯ ПРОГРАММА ДЛЯ ПОСТОЯННЫХ КЛИЕНТОВ
									</div>
								</div>
							</div>
						</div>
						<div class="b-columns__col b-columns__col_33 b-columns__col_mob_mg-bt_15">
							<div class="h-wrap h-wrap_align_h_left h-wrap_mob_align_h_center">
								<img src="{{ 'assets/images/grid_icon_8.svg'|theme }}" loading="lazy" alt="" class="b-image b-image_sec_form_icon">
								<div class="h-wrap">
									<div class="b-text b-text_open_sans b-text_size_18 b-text_dark">
										ИНДИВИДУАЛЬНЫЙ ПОДХОД К КАЖДОМУ ПАРТНЕРУ
									</div>
								</div>
							</div>
						</div>
						<div class="b-columns__col b-columns__col_33">
							<div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_center">
								<a href="#" class="b-button v-4 w-button">
									УЗНАТЬ УСЛОВИЯ
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
