<div class="b-breadcrumbs">
<div class="b-breadcrumbs-2">
    <ul role="list">
        <li><a href="{{ 'home' | page }}">Главная</a></li>
        <li class="b-breadcrumbs__li"><a href="{{ 'catalog/index' | page({category: null}) }}">Каталог</a></li>
        {% for category in target.getParentsAndSelf %}
            {% if loop.last %}
                <li>{{ category.name }}</li>
            {% else %}
                <li>
                    <a href="{{ 'catalog/index' | page({category: category.slug}) }}">
                        {{ category.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
</div>