<script>
    document.addEventListener('click', function(event) {
        const quickSearchElement = document.getElementById('quickSearch');

        if (!quickSearchElement) return;

        if (!quickSearchElement.contains(event.target)) {
            quickSearchElement.style.display = 'none';
        }
    });
</script>
<form action="{{ 'search/results' | page }}" class="search w-form" style="position:relative;">
	<input class="search-input w-input"
           maxlength="256"
           name="query"
           placeholder="Поиск …"
           type="search"
           id="search"
           required=""
           data-track-input
           data-request="onQuickSearch"
           data-request-update="{'ajax/quick-search': true}"
    >
	<input type="submit" class="search-button w-button" value="Search">

    {% ajaxPartial 'ajax/quick-search' %}
</form>
