[collection special]
handle="Content\Special"
==
<section class="s-section s-section_light">
    <div><img src="{{ 'assets/images/grey_decor.svg'|theme }}" loading="lazy" alt class="b-section-decor">
        <div id="specpredlojenie" o_group="Блок спецпредложение" display="block" class="container container_clip_content">
            <div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_70">
                <div class="b-title-5">СПЕЦПРЕДЛОЖЕНИЕ</div>
            </div>
            <div class="h-wrap h-wrap_mg-bt_90 h-wrap_mob_70">
                <div class="b-text b-text_grey b-text_size_18">АКТУАЛЬНО ДО 31 ДЕКАБРЯ 2023 ГОДА</div>
            </div>
            <div class="h-wrap h-wrap_mg-bt_60">
                <div data-delay="4000" data-animation="slide" class="b-slider b-slider_one w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
                    <div class="b-slider__mask b-slider__mask_one w-slider-mask">
                        <div class="b-slider__slide b-slider__slide_one w-slide">
                            <div class="b-slider-box"><img src="{{ 'assets/images/armatyra20(1).jpg'|theme }}" loading="lazy" alt class="b-image b-image_slide_img">
                                <div class="b-slide-content"><a wp="post_link" href="#" class="b-product-link w-inline-block"><div class="h-wrap h-wrap_mg-bt_15"><div class="b-text b-text_open_sans b-text_size_22 b-text_dark">АРМАТУРА А3</div></div><div class="h-wrap h-wrap_mg-bt_45"><div class="b-text b-text_grey b-text_size_14">длина 6 м, Ø 10м<br>dwadaw<br><br>dwad</div></div></a>
                                    <div class="h-wrap h-wrap_align_h_center h-wrap_mob_align_v_left">
                                        <div class="b-form b-form_card w-form">
                                            <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get" wp="add_to_cart" class="b-form-box" data-wf-page-id="665610e4d965136f27263848" data-wf-element-id="bbc5972e-7bc1-7599-9ce2-94bbb69d21f7">
                                                <div class="h-wrap h-wrap_align_h_center h-wrap_mob_align_v_left">
                                                    <div class="h-wrap h-wrap_mob_mg-bt_10 h-wrap_align_h_left">
                                                        <div class="b-text b-text_open_sans b-text_size_18 b-text_dark no_wrap">от <span class="price_span">16 руб.</span>/М.П.</div>
                                                    </div>
                                                    <div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_left"><input type="submit" data-wait="Please wait..." class="b-button v-3 w-button" value="Заказать >"></div>
                                                </div>
                                            </form>
                                            <div class="success-message-2 w-form-done">
                                                <div class="b-text b-text_grey b-text_size_14">Товар успешно добавлен в корзину!</div>
                                            </div>
                                            <div class="w-form-fail">
                                                <div>Oops! Something went wrong while submitting the form.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__slide b-slider__slide_one w-slide">
                            <div class="b-slider-box"><img src="{{ 'assets/images/armatyra20220(1).jpg'|theme }}" loading="lazy" f_image="Изображение спецпредложения" alt class="b-image b-image_slide_img">
                                <div class="b-slide-content">
                                    <div class="h-wrap h-wrap_mg-bt_15">
                                        <div f_text="Заголовок спецпредложения" class="b-text b-text_open_sans b-text_size_22 b-text_dark">АРМАТУРА А3</div>
                                    </div>
                                    <div class="h-wrap h-wrap_mg-bt_45">
                                        <div f_area="Описание спецпредложения" class="b-text b-text_grey b-text_size_14">длина 6 м, Ø 10м</div>
                                    </div>
                                    <div class="h-wrap h-wrap_align_h_center h-wrap_mob_align_v_left">
                                        <div class="h-wrap h-wrap_mob_mg-bt_10">
                                            <div class="b-text b-text_open_sans b-text_size_18 b-text_dark">от 16 руб./М.П.</div>
                                        </div>
                                        <div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_left"><a href="#" class="b-button v-3 w-button">Заказать ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__slide b-slider__slide_one w-slide">
                            <div class="b-slider-box"><img src="{{ 'assets/images/armatyra20320(1).jpg'|theme }}" loading="lazy" f_image="Изображение спецпредложения" alt class="b-image b-image_slide_img">
                                <div class="b-slide-content">
                                    <div class="h-wrap h-wrap_mg-bt_15">
                                        <div f_text="Заголовок спецпредложения" class="b-text b-text_open_sans b-text_size_22 b-text_dark">АРМАТУРА А3</div>
                                    </div>
                                    <div class="h-wrap h-wrap_mg-bt_45">
                                        <div f_area="Описание спецпредложения" class="b-text b-text_grey b-text_size_14">длина 6 м, Ø 10м</div>
                                    </div>
                                    <div class="h-wrap h-wrap_align_h_center h-wrap_mob_align_v_left">
                                        <div class="h-wrap h-wrap_mob_mg-bt_10">
                                            <div f_text="Цена спецпредложения" class="b-text b-text_open_sans b-text_size_18 b-text_dark">от 16 руб./М.П.</div>
                                        </div>
                                        <div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_left"><a href="#" class="b-button v-3 w-button">Заказать ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__slide b-slider__slide_one w-slide">
                            <div class="b-slider-box"><img src="{{ 'assets/images/armatyra20420(1).jpg'|theme }}" loading="lazy" f_image="Изображение спецпредложения" alt class="b-image b-image_slide_img">
                                <div class="b-slide-content">
                                    <div class="h-wrap h-wrap_mg-bt_15">
                                        <div f_text="Заголовок спецпредложения" class="b-text b-text_open_sans b-text_size_22 b-text_dark">АРМАТУРА А3</div>
                                    </div>
                                    <div class="h-wrap h-wrap_mg-bt_45">
                                        <div f_area="Описание спецпредложения" class="b-text b-text_grey b-text_size_14">длина 6 м, Ø 10м</div>
                                    </div>
                                    <div class="h-wrap h-wrap_align_h_center h-wrap_mob_align_v_left">
                                        <div class="h-wrap h-wrap_mob_mg-bt_10">
                                            <div f_text="Цена спецпредложения" class="b-text b-text_open_sans b-text_size_18 b-text_dark">от 16 руб./М.П.</div>
                                        </div>
                                        <div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_left"><a href="#" class="b-button v-3 w-button">Заказать ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__slide b-slider__slide_one w-slide">
                            <div class="b-slider-box"><img src="{{ 'assets/images/armatyra20420(1).jpg'|theme }}" loading="lazy" f_image="Изображение спецпредложения" alt class="b-image b-image_slide_img">
                                <div class="b-slide-content">
                                    <div class="h-wrap h-wrap_mg-bt_15">
                                        <div f_text="Заголовок спецпредложения" class="b-text b-text_open_sans b-text_size_22 b-text_dark">АРМАТУРА А3</div>
                                    </div>
                                    <div class="h-wrap h-wrap_mg-bt_45">
                                        <div f_area="Описание спецпредложения" class="b-text b-text_grey b-text_size_14">длина 6 м, Ø 10м</div>
                                    </div>
                                    <div class="h-wrap h-wrap_align_h_center h-wrap_mob_align_v_left">
                                        <div class="h-wrap h-wrap_mob_mg-bt_10">
                                            <div f_text="Цена спецпредложения" class="b-text b-text_open_sans b-text_size_18 b-text_dark">от 16 руб./М.П.</div>
                                        </div>
                                        <div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_left"><a href="#" class="b-button v-3 w-button">Заказать ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__slide b-slider__slide_one w-slide">
                            <div class="b-slider-box"><img src="{{ 'assets/images/armatyra20420(1).jpg'|theme }}" loading="lazy" f_image="Изображение спецпредложения" alt class="b-image b-image_slide_img">
                                <div class="b-slide-content">
                                    <div class="h-wrap h-wrap_mg-bt_15">
                                        <div f_text="Заголовок спецпредложения" class="b-text b-text_open_sans b-text_size_22 b-text_dark">АРМАТУРА А3</div>
                                    </div>
                                    <div class="h-wrap h-wrap_mg-bt_45">
                                        <div f_area="Описание спецпредложения" class="b-text b-text_grey b-text_size_14">длина 6 м, Ø 10м</div>
                                    </div>
                                    <div class="h-wrap h-wrap_align_h_center h-wrap_mob_align_v_left">
                                        <div class="h-wrap h-wrap_mob_mg-bt_10">
                                            <div f_text="Цена спецпредложения" class="b-text b-text_open_sans b-text_size_18 b-text_dark">от 16 руб./М.П.</div>
                                        </div>
                                        <div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_left"><a href="#" class="b-button v-3 w-button">Заказать ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__slide b-slider__slide_one w-slide">
                            <div class="b-slider-box"><img src="{{ 'assets/images/armatyra20420(1).jpg'|theme }}" loading="lazy" f_image="Изображение спецпредложения" alt class="b-image b-image_slide_img">
                                <div class="b-slide-content">
                                    <div class="h-wrap h-wrap_mg-bt_15">
                                        <div f_text="Заголовок спецпредложения" class="b-text b-text_open_sans b-text_size_22 b-text_dark">АРМАТУРА А3</div>
                                    </div>
                                    <div class="h-wrap h-wrap_mg-bt_45">
                                        <div f_area="Описание спецпредложения" class="b-text b-text_grey b-text_size_14">длина 6 м, Ø 10м</div>
                                    </div>
                                    <div class="h-wrap h-wrap_align_h_center h-wrap_mob_align_v_left">
                                        <div class="h-wrap h-wrap_mob_mg-bt_10">
                                            <div f_text="Цена спецпредложения" class="b-text b-text_open_sans b-text_size_18 b-text_dark">от 16 руб./М.П.</div>
                                        </div>
                                        <div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_left"><a href="#" class="b-button v-3 w-button">Заказать ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-slider__slide b-slider__slide_one w-slide">
                            <div class="b-slider-box"><img src="{{ 'assets/images/armatyra20420(1).jpg'|theme }}" loading="lazy" f_image="Изображение спецпредложения" alt class="b-image b-image_slide_img">
                                <div class="b-slide-content">
                                    <div class="h-wrap h-wrap_mg-bt_15">
                                        <div f_text="Заголовок спецпредложения" class="b-text b-text_open_sans b-text_size_22 b-text_dark">АРМАТУРА А3</div>
                                    </div>
                                    <div class="h-wrap h-wrap_mg-bt_45">
                                        <div f_area="Описание спецпредложения" class="b-text b-text_grey b-text_size_14">длина 6 м, Ø 10м</div>
                                    </div>
                                    <div class="h-wrap h-wrap_align_h_center h-wrap_mob_align_v_left">
                                        <div class="h-wrap h-wrap_mob_mg-bt_10">
                                            <div f_text="Цена спецпредложения" class="b-text b-text_open_sans b-text_size_18 b-text_dark">от 16 руб./М.П.</div>
                                        </div>
                                        <div class="h-wrap h-wrap_align_h_right h-wrap_mob_align_h_left"><a href="#" class="b-button v-3 w-button">Заказать ></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-slider__arrow-left b-slider__arrow-left_one w-slider-arrow-left"><img src="{{ 'assets/images/arrow_left.svg'|theme }}" loading="lazy" alt class="b-slider__icone b-slider__icone_one"></div>
                    <div class="b-slider__arrow-right b-slider__arrow-right_one w-slider-arrow-right"><img src="{{ 'assets/images/arrow_right.svg'|theme }}" loading="lazy" alt class="b-slider__icone b-slider__icone_one"></div>
                    <div class="b-slider__nav b-slider__nav_one w-slider-nav w-round"></div>
                </div>
            </div>
            <div class="h-wrap">
                <div class="b-form b-form_second w-form">
                    <form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form b-form__form_second" data-wf-page-id="665610e4d965136f27263848" data-wf-element-id="e475c7e7-0eac-5ba3-5cd3-ad931e675a25">
                        <div class="b-columns">
                            <div class="b-columns__col b-columns__col_25 b-columns__col_pd_r_40 b-columns__col_mob_mg-bt_30">
                                <div class="h-wrap">
                                    <div class="b-text b-text_open_sans b-text_size_22">НЕ УПУСТИТЕ ВЫГОДУ! <br>ПОДПИШИТЕСЬ НА НАШУ <br>РАССЫЛКУ</div>
                                </div>
                            </div>
                            <div class="b-columns__col b-columns__col_25 b-columns__col_pd_r_40 b-columns__col_mob_mg-bt_15"><input class="b-input b-input_hero w-input" maxlength="256" name="field-7" data-name="Field 7" placeholder="Имя" type="text" id="field-7" required></div>
                            <div class="b-columns__col b-columns__col_25 b-columns__col_pd_r_40 b-columns__col_mob_mg-bt_15"><input class="b-input b-input_hero w-input" maxlength="256" name="E-mail-4" data-name="E Mail 4" placeholder="E-mail" type="email" id="E-mail-4" required></div>
                            <div class="b-columns__col b-columns__col_25">
                                <div class="h-wrap h-wrap_mg-bt_10"><input type="submit" data-wait="Please wait..." class="b-button v-5 w-button" value="ПОЛУЧИТЬ СПЕЦПРЕДЛОЖЕНИЕ"></div>
                                <div class="h-wrap"><label class="w-checkbox b-checkbox"><div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check w--redirected-checked"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1" checked><span class="b-checkbox__label w-form-label" for="checkbox-2">Согласен с <a href="#" class="b-policy-link">политикой конфиденциальности</a></span></label></div>
                            </div>
                        </div>
                    </form>
                    <div class="b-form__success-mes w-form-done">
                        <div>Спасибо за заявку! <br>В ближайшее время мы свяжемся с вами</div>
                    </div>
                    <div class="b-form__error-mes w-form-fail">
                        <div>Ошибка! Что-то пошло не так.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
