url="/catalog/:category/:product"
title="Товар"
layout="default"

[Product]
==
<div class="main">
    <section class="s-section s-section_catalog">
        <div class="container">
            {% partial 'catalog/breadcrumbs' target=product.category %}
        </div>
        <div class="container">
        <div wp="product" class="h-wrap h-wrap_mg-bt_130">
            {% partial 'product-elements/product' %}
            <div wp_if="simple_product" class="b-product">
                {% set image = product.image ?? product.images.first %}
                <div class="image_box">
                    <img src="{{ image.getThumb(270, 250, {mode: 'crop', extension: 'webp', quality: 75}) }}" loading="lazy" wp="post_image" alt="{{ image.title }}" class="b-image b-image_product">
                </div>
                <div class="content-wrap">
                    <div class="info_box">
                        <div class="h-wrap h-wrap_mg-bt_35">
                            <div class="b-text b-text_dark b-text_open_sans b-text_size_30">{{ product.name }}</div>
                        </div>
                        <div class="h-wrap h-wrap_mg-bt_20">
                            <div class="b-grid b-grid_col_2">
                                {% for property in product.property_values %}
                                <div class="h-wrap h-wrap_align_h_left">
                                    <div class="h-wrap">
                                        <div class="b-text b-text_grey">{{ property.property.name }}:</div>
                                    </div>
                                    <div class="h-wrap">
                                        <div wp_post_term="pa_madeby" class="b-text b-text_dark">{{ property.name }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="b-grid b-grid_col_2 g-hide">
                            <div class="h-wrap h-wrap_align_h_left">
                                <div class="h-wrap h-wrap_mg-bt_20 h-wrap_align_h_left"><img src="{{ 'assets/images/gost.svg'|theme }}" loading="lazy" alt class="b-image b-image_gost">
                                    <div class="b-text b-text_grey">ГОСТ</div>
                                </div>
                                <div class="h-wrap h-wrap_mg-bt_20">
                                    <div wp_post_term="pa_gost" class="b-text b-text_dark">52544-2006</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order_box">
                        <div class="h-wrap">
                            <div class="h-wrap">
                                <div class="h-wrap h-wrap_mg-bt_20">
                                    <div class="h-wrap">
                                        <div wp="product_price" class="b-text b-text_bronze b-text_open_sans b-text_size_50 regular">
                                            {% if product.price is not empty and product.price > 0 %}
                                                от
                                                {% set unit = product.measure_unit | default(product.category.measure_unit) %}
                                                {{ product.price | price }} ₽
                                                {% if unit is not empty %}
                                                    / {{ unit.name }}
                                                {% endif %}
                                            {% else %}
                                                <span class="price-request">
                                                     Цена по запросу
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="h-wrap">
                            <div class="b-form b-form_product w-form">
                                <div id="product-cart">
                                    {% partial 'ajax/product-cart' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="h-wrap">
            <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs b-tabs_product w-tabs">
                <div class="b-tabs__menu-2 w-tab-menu"><a data-w-tab="Tab 1" class="b-tabs__link-2 w-inline-block w-tab-link w--current"><div>Описание</div></a><a data-w-tab="Tab 2" class="b-tabs__link-2 w-inline-block w-tab-link"><div>Доставка</div></a></div>
                <div class="b-tabs__content-2 w-tab-content">
                    <div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane w--tab-active">
                        <div class="h-wrap h-wrap_mg-bt_60">
                            <div class="b-text b-text_dark">
                                {{ product.description | raw }}
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Tab 2" class="b-tabs__pane w-tab-pane">
                        <div>
                            <div class="h-wrap h-wrap_mg-bt_30">
                                <div class="b-text b-text_dark b-text_open_sans b-text_size_18">Вес: <span wp="product_weight" class="del_span">{{ product.weight }}</span></div>
                            </div>
                            <div class="h-wrap h-wrap_mg-bt_30">
                                <div class="b-text b-text_dark b-text_open_sans b-text_size_18">Длина: <span wp="product_length" class="del_span">{{ product.length }}</span></div>
                            </div>
                            <div class="h-wrap h-wrap_mg-bt_30">
                                <div class="b-text b-text_dark b-text_open_sans b-text_size_18">Ширина: <span wp="product_width" class="del_span">{{ product.width }}</span></div>
                            </div>
                            <div class="h-wrap h-wrap_mg-bt_30">
                                <div class="b-text b-text_dark b-text_open_sans b-text_size_18">Высота: <span wp="product_height" class="del_span">{{ product.height }}</span></div>
                            </div>
                            <div class="h-wrap h-wrap_mg-bt_80"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="b-fav-button"><a wp="wish_add" href="#" class="b-button w-button">ДОБАВИТЬ В ЗАКЛАДКИ</a></div>
</section>
<section class="s-section s-section_light-3">
    <div>
        <div display="block" o_group="Блок Категории товаров" class="container container_clip_content_2">
            <div class="h-wrap h-wrap_mg-bt_20 h-wrap_mob_70">
                <div class="b-title-4">КАТЕГОРИИ ТОВАРОВ</div>
            </div>
            <div class="h-wrap h-wrap_mg-bt_90 h-wrap_mob_70">
                <div class="b-text b-text_grey b-text_size_18">ВЕСЬ НАШ АССОРТИМЕНТ</div>
            </div>
            <div class="h-wrap h-wrap_mg-bt_60">
                <div class="b-category-grid b-category-grid_block">
                    <div id="w-node-_5c7ddbc7-fb77-0a55-7626-dad43a50e31a-3a50e31a" class="b-category-box"><a href="#" class="b-linkblock b-linkblock_cat w-inline-block"><div class="h-wrap h-wrap_align_h_center h-wrap_mg-bt_40"><img src="{{ 'assets/images/cat_icon_3.svg'|theme }}" loading="lazy" alt class="b-image b-image_cat_icon"></div><div class="h-wrap"><div class="b-text b-text_open_sans b-text_size_18 b-text_center">МЕТАЛЛУРГИЧЕСКОЕ СЫРЬЕ</div></div></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% partial 'blocks/section-special-offer' %}
{% partial 'blocks/section-quality' %}
{% partial 'blocks/section-specialists' %}
<section class="s-section">
    <div display="block" o_group="Блок Полоса">
        <div o_bg_color="Цвет полосы" class="b-orange-box"></div>
    </div>
</section>
{% partial 'blocks/section-general-director' %}
{% partial 'blocks/section-departments' %}
</div>
