.b-breadcrumbs-2 ul li:last-child {
    padding: 10px;
    display: flex;
    border-radius: 5px;
    color: white;
    background-color: #cd7a48;
    border: 1px solid #cd7a48;
    align-content: center;
    align-items: center;
}

.b-breadcrumbs__li {
    padding: 0px !important;
    border: transparent !important;
    color: var(--grey-text) !important;
    background-color: transparent !important;
}

.filters-block__body {
    max-height: 10rem;
    margin-top: 1em;
    overflow: auto;
}

.filters-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filters-row input[type="checkbox"] {
    display: none;
}

.filters-row label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.filters-row label::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #cd7a48;
    border-radius: 4px;
    display: inline-block;
    margin-right: 1em;
    background-color: white;
    transition: all 0.3s;
}

.filters-row input[type="checkbox"]:checked + label::before {
    background-color: #cd7a48;
    border-color: #cd7a48;
    content: "✔";
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
