.b-breadcrumbs-2 ul li:last-child {
    padding: 10px;
    display: flex;
    border-radius: 5px;
    color: white;
    background-color: #cd7a48;
    border: 1px solid #cd7a48;
    align-content: center;
    align-items: center;
}

.b-breadcrumbs__li {
    padding: 0px !important;
    border: transparent !important;
    color: var(--grey-text) !important;
    background-color: transparent !important;
}

.filters-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filters-row input[type="checkbox"] {
    display: none; /* Скрываем оригинальный чекбокс */
}

.filters-row label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.filters-row label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    background-color: white;
    transition: all 0.3s;
}

.filters-row input[type="checkbox"]:checked + label::before {
    background-color: #007bff;
    border-color: #007bff;
    content: "✔";
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
}
