<div class="b-product-card">
	{% set image = product.image | default(product.images.first) %}
	<img src="{{ image.getThumb(311, 273, {mode: 'crop', extension: 'webp', quality: 75}) }}" loading="lazy" alt="" class="b-image b-image_cat_image">
	<a href="{{ 'catalog/product' | page({category: product.category.slug, product: product.slug}) }}" class="b-product-link w-inline-block">
		<div class="g-mg-bot_10">
			<div class="b-text g-size_16 g-gray">
				Арматура АЗ рифленая (А400) D 12 11700мм ГОСТ 5781-82dawdawddwddawdw
			</div>
		</div>
		<div class="g-size_14">
			Подробнее
		</div>
	</a>
	<div class="b-text g-size_30 g-bronze g-bold">
		47 ₽
	</div>
	<div class="b-form-2 w-form">
		<form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get" wp="add_to_cart" class="b-product-form_box" data-wf-page-id="665610e4d965136f27263848" data-wf-element-id="f8138cbe-72ea-1ab4-75ca-bfe34ba3b10e">
			<div>
				<input type="submit" data-wait="Please wait..." class="b-button v-7 w-button" value="Купить в 1 клик">
			</div>
			<div class="h-wrap">
				<input type="submit" data-wait="Please wait..." class="b-button card w-button" value="В корзину">
			</div>
		</form>
		<div class="success-message-2 w-form-done">
			<div class="b-text b-text_grey b-text_size_14">
				Товар успешно добавлен в корзину!
			</div>
		</div>
		<div class="w-form-fail">
			<div>
				Oops! Something went wrong while submitting the form.
			</div>
		</div>
	</div>
</div>
