<div class="b-product-card">
	{% set image = product.image | default(product.images.first) %}
	<img src="{{ image.getThumb(311, 273, {mode: 'crop', extension: 'webp', quality: 75}) }}" loading="lazy" alt="" class="b-image b-image_cat_image">
	<a href="{{ 'catalog/product' | page({category: product.category.slug, product: product.slug}) }}" class="b-product-link w-inline-block">
		<div class="g-mg-bot_10">
			<div class="b-text g-size_16 g-gray">
				{{ product.name }}
			</div>
		</div>
		<div class="g-size_14">
			Подробнее
		</div>
	</a>
	<div>
		<div id="w-node-d0990788-fc7a-349d-04af-bf8f9e1280b7-4ba3b0eb" class="g-flex_h">
			{% if product.price is not empty and product.price > 0 %}
			<div id="w-node-_72718b7d-c784-75d4-5f29-3816396569de-4ba3b0eb" class="b-text g-size_20 g-bronze g-bold">
				от
			</div>
			{% set unit = product.measure_unit | default(product.category.measure_unit) %}
			<div id="w-node-_85e10a62-73f4-7245-b302-ccf3ea8d79c0-4ba3b0eb" class="b-text g-size_30 g-bronze g-bold">
				{{ product.price|price }}
			</div>
			<div id="w-node-af013d14-7599-16f2-6563-567aa4239070-4ba3b0eb" class="b-text g-size_30 g-bronze g-bold">
				₽
			</div>
			{% if unit is not empty %}
			<div id="w-node-d93ddba9-eb32-88d7-eec4-ae780dfca171-4ba3b0eb" class="b-text g-size_30 g-bronze g-bold">
				{{ {{ product.price | price }} ₽ }}
			</div>
			<div class="g-flex_h">
				{{ unit.name }}
			</div>
			{% endif %}{% else %}
			<div class="b-text g-size_20 g-bronze g-bold">
				Цена по запросу
			</div>
			{% endif %}
		</div>
	</div>
	<div class="b-form-2 w-form">
		<form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get" wp="add_to_cart" class="b-product-form_box" data-wf-page-id="665610e4d965136f27263848" data-wf-element-id="f8138cbe-72ea-1ab4-75ca-bfe34ba3b10e">
			<div>
				<input type="submit" data-wait="Please wait..." class="b-button v-7 w-button" value="Купить в 1 клик">
			</div>
			<div class="h-wrap">
				<input type="submit" data-wait="Please wait..." class="b-button card w-button" value="В корзину">
			</div>
		</form>
		<div class="success-message-2 w-form-done">
			<div class="b-text b-text_grey b-text_size_14">
				Товар успешно добавлен в корзину!
			</div>
		</div>
		<div class="w-form-fail">
			<div>
				Oops! Something went wrong while submitting the form.
			</div>
		</div>
	</div>
</div>
