<footer id="footer" class="footer">
	<div class="container">
		<div class="h-wrap g-mg-bot_40">
			<img src="{{ siteSettings.logo|media }}" loading="lazy" alt="" class="b-image b-image_footer_logo">
		</div>
		<div class="b-columns b-columns_grid">
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16b2-29fd16ad" class="b-column-grid-box g-hide">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_open_sans b-text_size_18">
						МЫ В СЕТИ
					</div>
				</div>
				<div class="social_wrap">
					{% for item in siteSettings.add_social %}
					<a href="{{ item.social_link }}" target="_blank" class="b-social-link w-inline-block">
						<img src="{{ item.social_icon }}" loading="lazy" alt="" class="b-image b-image_social">
					</a>
					{% endfor %}
				</div>
			</div>
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16c1-29fd16ad" class="b-column-grid-box b-column-grid-box_pd_l_100">
				<div class="h-wrap g-mg-bot_20">
					<div class="b-text g-size_18 g-opensans g-bold">
						КАРТА САЙТА
					</div>
				</div>
				<div class="footer_nav">
					{% for item in mainMenu.add_menu_footer %}
					<a href="{{ item.link_menu_footer }}" class="b-footer-nav-link w-inline-block">
						<div class="b-text">
							{{ item.name_menu_footer }}
						</div>
					</a>
					{% endfor %}
				</div>
			</div>
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16d5-29fd16ad" class="b-column-grid-box">
				<div class="h-wrap g-mg-bot_20">
					<div class="b-text g-size_18 g-opensans g-bold">
						РЕКВИЗИТЫ
					</div>
				</div>
				<div class="h-wrap">
					<div class="b-text">
						ОГРН: 1235000105207
						ИНН: 5032365652
					</div>
				</div>
			</div>
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16dc-29fd16ad" class="b-column-grid-box">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_open_sans b-text_size_18">
						АДРЕС
					</div>
				</div>
				<div class="h-wrap">
					<div class="b-text">
						{{ siteSettings.adress }}
					</div>
				</div>
			</div>
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16e3-29fd16ad" class="b-column-grid-box">
				<div class="b-form b-form_footer w-form">
					<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="665610e4d965136f2726384e" data-wf-element-id="1f8e5440-2759-e1e3-dda1-e6db29fd16e5">
						<div class="h-wrap h-wrap_mg-bt_20">
							<input class="b-input w-input" maxlength="256" name="e-mail-3" data-name="E Mail 3" placeholder="Ваш e-mail" type="email" id="e-mail-3" required="">
						</div>
						<div class="h-wrap h-wrap_mob_mg-bt_20">
							<input type="submit" data-wait="Please wait..." class="b-button w-button" value="ПОДПИСАТЬСЯ НА НОВОСТИ">
						</div>
					</form>
					<div class="b-form__success-mes w-form-done">
						<div>
							Спасибо за заявку!
							<br>
							В ближайшее время мы свяжемся с вами
						</div>
					</div>
					<div class="b-form__error-mes w-form-fail">
						<div>
							Ошибка! Что-то пошло не так.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_downline">
		<div class="container">
			<div class="b-text g-size_12">
				{{ siteSettings.copirate }}
			</div>
		</div>
	</div>
</footer>
