<footer id="footer" class="footer">
	<div o_group="Настройки футер" class="container">
		<div class="h-wrap h-wrap_mg-bt_45">
			<img src="{{ siteSettings.logo }}" loading="lazy" alt="" class="b-image b-image_footer_logo">
		</div>
		<div class="b-columns b-columns_grid">
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16b2-29fd16ad" class="b-column-grid-box">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_open_sans b-text_size_18">
						МЫ В СЕТИ
					</div>
				</div>
				<div class="social_wrap">
					{% for item in sitesettings.add_social %}
					<a _link="siteSettings.social_link" href="#" target="_blank" class="b-social-link w-inline-block">
						<img src="{{ siteSettings.social_icon }}" loading="lazy" alt="" class="b-image b-image_social">
					</a>
					{% endfor %}
				</div>
			</div>
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16c1-29fd16ad" class="b-column-grid-box b-column-grid-box_pd_l_100">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_open_sans b-text_size_18">
						КАРТА САЙТА
					</div>
				</div>
				<div class="footer_nav">
					<a href="#" class="b-footer-nav-link w-inline-block">
						<div class="b-text b-text_size_14">
							Каталог
						</div>
					</a>
					<a href="#" class="b-footer-nav-link w-inline-block">
						<div class="b-text b-text_size_14">
							Услуги
						</div>
					</a>
					<a href="#" class="b-footer-nav-link w-inline-block">
						<div class="b-text b-text_size_14">
							Спецпредложение
						</div>
					</a>
					<a href="#" class="b-footer-nav-link w-inline-block">
						<div class="b-text b-text_size_14">
							Наши работы
						</div>
					</a>
					<a href="#" class="b-footer-nav-link w-inline-block">
						<div class="b-text b-text_size_14">
							Главная
						</div>
					</a>
				</div>
			</div>
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16d5-29fd16ad" class="b-column-grid-box b-column-grid-box_pd_l_60">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_open_sans b-text_size_18">
						РЕКВИЗИТЫ
					</div>
				</div>
				<div class="h-wrap">
					<div class="b-text b-text_size_14">
						{{ siteSettings.requisites }}
					</div>
				</div>
			</div>
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16dc-29fd16ad" class="b-column-grid-box">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_open_sans b-text_size_18">
						АДРЕС
					</div>
				</div>
				<div class="h-wrap">
					<div class="b-text b-text_size_14">
						{{ siteSettings.adress }}
					</div>
				</div>
			</div>
			<div id="w-node-_1f8e5440-2759-e1e3-dda1-e6db29fd16e3-29fd16ad" class="b-column-grid-box">
				<div class="b-form b-form_footer w-form">
					<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="665610e4d965136f272637f9" data-wf-element-id="1f8e5440-2759-e1e3-dda1-e6db29fd16e5">
						<div class="h-wrap h-wrap_mg-bt_20">
							<input class="b-input b-input_hero w-input" maxlength="256" name="e-mail-3" data-name="E Mail 3" placeholder="Ваш e-mail" type="email" id="e-mail-3" required="">
						</div>
						<div class="h-wrap h-wrap_mob_mg-bt_20">
							<input type="submit" data-wait="Please wait..." class="b-button v-5 w-button" value="ПОДПИСАТЬСЯ НА НОВОСТИ">
						</div>
					</form>
					<div class="b-form__success-mes w-form-done">
						<div>
							Спасибо за заявку!
							<br>
							В ближайшее время мы свяжемся с вами
						</div>
					</div>
					<div class="b-form__error-mes w-form-fail">
						<div>
							Ошибка! Что-то пошло не так.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div o_group="Настройки футер" class="footer_downline">
		<div class="container">
			<div class="b-text b-text_size_12">
				{{ siteSettings.copirate }}
			</div>
		</div>
	</div>
</footer>
