<div class="left-content left-content_cat">
	<div class="h-wrap pc_hide">
		<a data-w-id="82b340cb-56a5-3046-b9bc-e93390e116b4" href="#" class="b-button v-12 w-button">
			ВЫБРАТЬ КАТЕГОРИЮ
		</a>
	</div>
	<div class="b-sidebar">
		{% for item in sidebar.sidebar %}
		<div data-hover="false" data-delay="0" data-w-id="dbd6f9dc-b012-8e02-426d-0164556e722a" class="b-dropdown b-dropdown_side w-dropdown">
			<div class="b-dropdown__toggle b-dropdown__toggle_side w-dropdown-toggle">
				<div class="b-dropdown__icon w-icon-dropdown-toggle"></div>
				<div>
					{{ item.text_drop }}
				</div>
			</div>
			<nav class="b-dropdown__lists b-dropdown__lists_side w-dropdown-list">
				<div class="b-dropdown__content b-dropdown__content_side">
					{% for item in item.lists %}
					<a href="{{ item.link }}" class="b-dropdown__link b-dropdown__link_side w-dropdown-link">
						{{ item.text }}
					</a>
					{% endfor %}
				</div>
			</nav>
		</div>
		{% endfor %}
	</div>
                    {% if currentCategory.children is not empty %}
                    {% else %}
	                    {% if currentCategory %}
                            <div class="filters" style="display:flex;flex-direction:column; gap:30px; margin-top:30px;">
                                <div>Уточните поиск при помощи фильтров</div>
                                {% for property in currentCategory.properties().forFilters().get() %}
                                    <div class="filters-block" style="background:#fff; padding: 10px; border-radius:10px;">
                                        <div class="filters-block__title" style="font-weight: bold;">{{ property.name }}{{ property.unit ? ', ' ~ property.unit : ''}}</div>
                                        <div class="filters-block__body">
                                            {% set propertyValues = property.values().hasProductsInCategory(currentCategory.id).orderBy('name').get()  %}
                                            {% if propertyValues.count() > 7 %}
                                                <label>
                                                    <input placeholder="Поиск..." type="text" name="filters-search" class="filter-search" data-filter-group="{{ property.slug }}">
                                                </label>
                                            {% endif %}
                                            {% for value in propertyValues %}
                                                <div class="filters-row" style="display:flex; align-items: center; gap:15px">
                                                    <input id="{{ property.slug }}-{{ value.id }}" name="{{ property.slug }}[]" value="{{ value.slug }}" type="checkbox">
                                                    <label for="{{ property.slug }}-{{ value.id }}" class="filters-row__label">
                                                        {{ value.name }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}

                                <div id="filters-submit">
                                    {% partial 'ajax/listing-catalog-submit' %}
                                </div>

                            </div>
                        {% endif %}
                    {% endif %}
</div>
